<div>

    <p>@ErrorMessage</p>

    <button @onclick="Close">Close</button>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter] public string? ErrorMessage { get; set; }

    private async Task Close()
    {
        await BlazoredModal.CloseAsync();
    }
}